@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 250px;
    height: 500px;
    background-color: #f0f0f0;
    margin: 20px;
}
.restaurantRatings{
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
}
.restaurantAvgRating{
    color: #3d9b6d;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}
